.otherStates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.otherStates label {
  margin: 0;
}

.selectedCities {
  margin-left: 10px;
}

.plans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carou {
  width: 500px;
  margin: 50px auto;
}

.adjustFont {
  font-weight: bold;
  font-size: larger;
}
